body {
    background-color: white;
    font-family: 'Trebuchet MS', 'Helvetica', sans-serif;
}

#page-title {
    font-size: 2rem;
    font-family: Palatino, 'Palatino Linotype', serif;
    color: rgb(121, 149, 117);
    text-align: center;
}

#copyright {
    text-align: center;
}

/*nav bar*/
.nav {
    font-size: 1.2rem;
    font-family: 'Trebuchet MS', Helvetica, sans-serif;
    color: palevioletred;
}

.nav li {
    display: inline;
}

.main {
    font-size: 1rem;
    color: 000;
}

.page-description {
    border: 2px solid #000;
    padding: 20px;
    text-align: center;
}

/*Start of Gallery, class selector for parent div, moving entire gallery down 20 px from above element*/
/*flex-wrap: wrap brings all the images inside the border of every gallery-item*/
.gallery {
    margin-top: 20px;
    display: flex;
    flex-wrap: wrap;
}

/*gallery item class selector for figure tags*/
.gallery-item {
    border: 5px solid #000;
    margin: 20px;
}

/*class selector for img tag inside figure*/
.thumbnail {

}

.contact-btn {
    float: right
}

.contact-btn a {
    margin-right: 30px;
    padding: 8px 18px;
    border: 1px solid #000;
}    

/*Active + bottom: 2px adds a button like reaction on click without needing JS*/
.contact-btn a:active {
    position: relative;
    bottom: 2px;
}